@import "variables.scss";

body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 850px;
  margin: auto;
}

.calendar div {
  min-width: $day-width;
  min-height: $day-width;
  margin-right: 1px;
  margin-bottom: 1px;
  border: 1.5px solid $color-border;
  background-color: $color-main;
  position: relative;
  transition: all 0.2s;

  &:hover {
    background-color: $color-hover;
    transform: translateY(-20px);
    cursor: pointer;
  }
}

@for $i from 1 through 31 {
  .calendar > div:nth-child(#{$i})::before {
    content: "#{$i}";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
  }
}

@for $i from 28 through 31 {
  .calendar-#{$i} > div:nth-last-child(-n+#{31-$i}) {
    display: none;
  }
}

@each $day in $weeek-day {
  $i: index($weeek-day, $day);
  .calendar-#{$day} > div:first-child {
    margin-left: calc(#{$day-width} * #{$i} + #{$i}px - #{$day-width} - #{1}px);
  }
}
